.container{
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 40px;
 
}
.addtask{
    width:350px;
    padding:20px ;
    background-color:white ; /* */
    border: none;
    border:2px solid #d2c7ba;
    outline: none;
   
}
.addtask:hover{
    outline:2px solid #C0AF9D;
   /*#CDC2A5; */
}
.btn{
    padding:20px;
    border: none;
    background-color: #C0AF9D;
}
.icon2{
    padding-left: 20px;
    float: right;
}


